#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; 
}

/* Estilo da "folha de papel" com linhas horizontais e textura de papel */
#paper {
    width: 100%;
    background-color: #FFF;
    color: #222;
    font-family: Courier, monospace;
    font-size: 24px;
    line-height: 40px; /* Distância entre as linhas de texto */
    padding: 45px 20px 20px 20px; /* Ajusta o padding para espaçamento adequado */    border-radius: 12px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-image: 
        linear-gradient(to bottom, #ccc 1px, transparent 1px), /* Linhas horizontais cinzas, com espaçamento transparente entre elas */
        url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);  /* Mantém a textura do papel */
    background-repeat: repeat, repeat; /* As linhas se repetem na vertical e a textura de papel se repete nas duas direções */
    background-size: 100% 40px, 100% 100%; /* Controla o tamanho das linhas para que o espaçamento seja igual ao do texto, e a textura ocupa todo o fundo */
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    outline: none;
}

/* Estilo para o título */
#paper h1 {
    font-size: 30px; /* Tamanho da fonte igual ao do corpo do texto */
    font-weight: 600; /* Peso da fonte mais forte */
    margin: 0; /* Remove a margem padrão do h1 */
}
.handwrite {
    font-family: "Allura";
    white-space: normal; /* Permite quebra de linha normal */
    overflow: hidden;    /* Esconde o texto extra */
    font-size: 30px;
}
.escrita {
    font-family: "Sf-Pro-Display";
    white-space: normal; /* Permite quebra de linha normal */
    overflow: hidden;    /* Esconde o texto extra */
    font-size: 30px;
}
p {
    text-indent: 40px !important;
}

/* Classe para o texto pulsante */
.muito {
    display: inline-block; /* Necessário para a animação funcionar */
    font-weight: bold; /* Destacar o texto */
    color: #ff0239; /* Cor do texto */
    font-size: 1.8rem; /* Tamanho maior */
    animation: pulsar 0.8s ease-in-out infinite; /* Animação */
}
.sempre{
    display: inline-block; /* Mantém o texto em linha, mas permite aplicar estilos ao contêiner */
    font-weight: 600; /* Destaca o texto */
    color: #b40800; /* Cor do texto */
    font-size: 2.5rem; /* Tamanho maior */
    text-shadow: 0px 0px 10px rgb(224, 11, 0), 
                 0px 0px 20px rgba(224, 11, 0),
                 0px 0px 30px rgba(224, 11, 0);
}