.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: "Sf-Pro-Display";
    font-size: 4vw;
    margin-top: 2rem;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 10px;
}

.caixa-timer {
    width: 9vw;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #1d1d1f;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease 0.1s;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.caixa-timer:hover {
    background-color: #ff0239;
    box-shadow: 0px 0px 55px 15px #ff0239;
    color: #fff;
    transform: translateY(-7px);
}

.caixa-timer:hover + .palavra {
    color: #1d1d1f;
}

.palavra {
    font-size: 1vw;
    color: #f5f5f7;
    transition: color 0.3s ease;
    margin-bottom: 15px;
    padding-top: 10px;
}

.bloco:hover .caixa-timer {
    background-color: #ff0239;
    box-shadow: 0px 0px 55px 15px #ff0239;
    color: #fff;
    transform: translateY(-7px);
}

.bloco:hover .palavra {
    color: #1d1d1f; /* Alteração na cor do texto */
}

/*--------------------------------- Responsividade PC ---------------------------------------*/

@media (min-width: 993px) {
    .timer-container {
        gap: 1rem;
        font-family: Arial, sans-serif;
        font-size: 4vw;
        margin-top: 2rem;
        max-width: 800px;
        margin: 0 auto;
    }
    .caixa-timer {
        width: 10vw;
        height: 10vw;
    }

    .palavra {
        font-size: 2vw;
        color: #f5f5f7;
        transition: color 0.3s ease;
        margin-bottom: 15px;
        padding-top: 10px;
    }

    .caixa-timer:hover {
        box-shadow: 0px 0px 55px 15px rgba(255, 0, 43, 1);
        color: #fff;
        transform: translateY(-7px);
    }
}

/*----------------------------------------- Responsividade Celular ---------------------------------- */

@media (max-width: 769px) {
    .timer-container {
        padding-top: 1rem;
    }
    .caixa-timer {
        width: 18vw;
        height: 18vw;
        font-size: 2.25rem;
    }
    .caixa-timer:hover {
        box-shadow: 0px 0px 25px 8px rgba(255, 0, 43, 1);
    }
    .palavra {
        font-size: 1.1rem;
    }
}
