
.ItemObj {
  background: #fff;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  position: absolute; /* Define como absoluto para personalizar a posição */
  display: flex; /* Torna o contêiner flexível */
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
  padding: 10px;
  transition: all 0.3s ease-in-out 0.1s;
  z-index: 1; /* Garante que os itens padrão tenham um índice menor */
}

.PolaroidObj {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.PolaroidObj > img {
  max-width: 100%;
  height: auto;
}

.AlbumCaption {
  text-align: center;
}

.ItemObj:hover {
  transform: scale(1.1) rotate(0deg) !important;
  z-index: 999 !important;
  transition: all 0.3s ease-in-out 0.1s;
}

.carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.carousel-container {
  position: relative;
  width: 90%;
  max-width: 800px;
}

.carousel-item img {
  width: 100%;  /* Ajusta a imagem para a largura do carrossel */
  height: auto; /* Mantém a proporção da imagem */
}


.close-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
  background-color: #f00;
  color: #fff;
}

/*----------- Polaroids -------------- */
.ItemObj:nth-of-type(1) {
  transform: rotate(-10deg);
  z-index: 98;
  width: 10rem;
  top: 8rem; /* Define a posição vertical */
  left: 1.5rem; /* Define a posição horizontal */
  font-size: 1.5rem;
}

.ItemObj:nth-of-type(2) {
  transform: rotate(15deg);
  z-index: 97;
  width: 10rem;
  top: 8rem; /* Ajusta a posição */
  left: 16rem;
  font-size: 1.5rem;
}

.ItemObj:nth-of-type(3) {
  transform: rotate(6deg);
  z-index: 99;
  width: 10rem;
  top: 8rem; /* Ajusta a posição */
  left: 8rem;
  font-size: 1rem;
}

.ItemObj:nth-of-type(4) {
  transform: rotate(-23deg);
  z-index: 97;
  width: 10rem;
  top: 17rem; /* Ajusta a posição */
  left: 3rem;
  font-size: 1.5rem;
}
.ItemObj:nth-of-type(5) {
  transform: rotate(13deg);
  z-index: 96;
  width: 10rem;
  top: 19rem; /* Ajusta a posição */
  left: 10rem;
  font-size: 1.5rem;
}
.ItemObj:nth-of-type(6) {
  transform: rotate(-23deg);
  z-index: 96;
  width: 10rem;
  top: 14rem; /* Ajusta a posição */
  left: 15rem;
  font-size: 1.5rem;
}
